
img {
    width: 200px;
    position: relative;
    top: 210px;
}
body { 
    text-align: center;
    font-family: 'Arial';
    color: black;
}

.wrapper{
    position:absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(124deg,
     red, orange, yellow, 
     rgb(5, 255, 5), rgb(93, 243, 228), 
     blue, purple, rgb(253, 64, 96)
);
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow{
    0%{
        background-position: 0% 82%;
    }
    5%{
        background-position: 100% 19%;
    }
    10%{
        background-position: 100% 60%;
    }